body {
  background-color: #fafafa;
  font-family: "Open Sans", sans-serif;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.liste-articles .article img {
  width: 100%; /* Redimensionne l'image pour qu'elle occupe 100% de la largeur du parent */
  height: auto; /* Garantit que la hauteur s'ajuste automatiquement en fonction de la largeur */
  max-width: 100%; 
  display: block; 
  margin: 0 auto; 
}

.liste-articles .article {
position: relative; 
overflow: hidden; 
transition: transform 0.3s ease, box-shadow 0.3s ease;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
z-index: 99;
}

.liste-articles .article:hover {
transform: scale(1.1); 
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); 
z-index: 99;
}

.liste-articles .article img {
display: block;
width: 100%;
height: auto;
}